<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %replace([userId=%X{userId:-}] [chatId=%X{chatId:-}] [messageId=%X{messageId:-}] ){'\[\w*=\] ', ''} %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.tl.gamepricetgbot.configuration.LoggingClientHttpRequestInterceptor" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
